# For the iCESugar Board (iCE40UP5K-QFN48)
# From https://github.com/wuxx/icesugar/blob/master/src/common/io.pcf

# PMOD 1
set_io led_no[0]   47
set_io led_no[1]   48
set_io led_no[2]   2
set_io led_no[3]   3
set_io led_no[4]   4
set_io led_no[5]   6
set_io led_no[6]   9
set_io led_no[7]   10

# PMOD 2
set_io sw_ni[0]   37
set_io sw_ni[1]   42
set_io sw_ni[2]   43
set_io sw_ni[3]   45
set_io btn_ni[0]   36
set_io btn_ni[1]   38
set_io btn_ni[2]   44
set_io btn_ni[3]   46

# PMOD 3
#set_io a_signed_i 34 
#set_io b_signed_i 31
